<div class="layui-layout layui-layout-admin" style="padding-left: 20px;">
    <div class="layui-btn-group demoTable" style="margin-top: 10px; ">
    </div>
<div>

    <div style="display: flex">

        <input type="text" style="width: 200px" name="bookName" id="Userid" lay-verify="required" autocomplete="off" placeholder="1726,890,5088" class="layui-input" value="1726">

        <input id="seach" type="button" class="layui-btn" data-type="tabAdd" style="margin-left: 30px" value="查询">

    </div>

    <div style="font-size: 18px">

        <p style="margin-top: 10px">
            线上检测方案：
            <span class="fas1 configID"  style="display: none">
                  <input type="radio" name="configID" value="1" >鉴定估值_易鑫20张 &nbsp;
            </span>
            <span class="fas2 configID"  style="display: none">
                  <input type="radio" name="configID" value="2">便捷估值6张 &nbsp;&nbsp;
            </span>
            <span class="fas4 configID"  style="display: none">
                  <input type="radio" name="configID" value="4">鉴定估值_金融18张&nbsp;&nbsp;
            </span>
            <span class="fas5 configID"  style="display: none">
                  <input type="radio" name="configID" value="5">便捷估值9张 &nbsp;&nbsp;
            </span>
            <span class="fas5 configID"  style="display: none">
                  <input type="radio" name="configID" value="6">商用车13 &nbsp;&nbsp;
            </span>
        </p>

        <p style="margin-top: 10px" id="procductlist"> </p>


        <p style="margin-top: 10px" id="isPretrial" style="display: none" >
            拍摄方案：
            <span class="fas1">
                  <input type="radio" name="isPretrial" title="全量照片" checked="checked" value="0">全量照片&nbsp;&nbsp;
            </span>
            <span class="fas2">
                  <input type="radio" name="isPretrial" title="无照片" value="1">无照片 &nbsp;&nbsp;
            </span>
        </p>



        <p style="margin-top: 10px;display: none" id="teshupic" >
            特殊照片：
            <span class="teshupic">   </span>
        </p>
        <p style="margin-top: 10px;">
            VIN前缀：
            <input type="text" id="vin" style=" width: 100px" value="LJS">
        </p>
        <p style="margin-top: 10px;">
            下单数量：
            <input type="text" id="ordercount" style=" width: 100px"  value="1" >
        </p>
        <p style="margin-top: 10px;">
            线程数量：
            <input type="text" id="gocount" style=" width: 100px"  value="1" >
        </p>
        <p style="margin-top: 30px;">
            <input type="button" id="submit" value="提交"  >
        </p>
    </div>


</div>


</div>
<script>
    var $;
    layui.config({
        base : "js/"
    }).use(['table','element','layer','jquery'], function(){
        $ = layui.jquery


        //查询用户信息
        $("#seach").click(function () {
            var suerid=$("#Userid").val()
            $("#isPretrial").hide();

            var jsData = {'userid':suerid}
            //方案获取
            $.post('/RpcTest/GetProgrammeConfiguration', jsData, function (out) {
                if (out.code == 0) {

                    for (var i = 0; i < out.data.length; i++) {
                        $(".fas"+out.data[i].ProgrammeId).show();
                    }

                }
            }, "json");
            //特殊粘片获取
            $.post('/RpcTest/GetPicSpecialSet', jsData, function (out) {
                if (out.code == 0) {

                    var str="";
                    for (var i = 0; i < out.data.length; i++) {
                        str+=out.data[i].Name+"["+out.data[i].ItemID+"]"+"&nbsp;&nbsp;";
                    }
                    if (str!="") {
                        $("#teshupic").show();
                        $(".teshupic").html(str);
                    }
                }
            }, "json");
            //产品类型获取
            $.post('/RpcTest/GetUserProductType', jsData, function (out) {
                if (out.code == 0) {

                    var str="线上产品类型：";
                    for (var i = 0; i < out.data.length; i++) {
                        str+=" <span class=\"fas1\">";
                        str+=" <input type=\"radio\" name=\"procductlist\" value=\""+out.data[i].ProductId+"\">"+out.data[i].ProductName+" &nbsp;";
                        str+=" </span>";
                        if (out.data[i].ProductId==11 || out.data[i].ProductId==14) {
                            $("#isPretrial").show();
                        }
                    }
                    $("#procductlist").html(str);
                }
            }, "json");
        });

        $("#submit").click(function () {

            var suerid=$("#Userid").val()
            var configID = $("input[name='configID']:checked").val();
            var procductlist = $("input[name='procductlist']:checked").val();
            var vin=$("#vin").val();
            var ordercount=$("#ordercount").val();
            var gocount=$("#gocount").val();
            var isPretrial = $("input[name='isPretrial']:checked").val();


            var jsData = {'userid':suerid,"configID":configID,"procductlist":procductlist,"vin":vin,"ordercount":ordercount,"gocount":gocount,"isPretrial":isPretrial}


            if (configID==undefined) {
                layer.msg("请选择方案")
                return;
            }procductlist
            if (procductlist==undefined) {
                layer.msg("请选择产品类型")
                return;
            }

            if($.trim(vin) ==""){
                layer.msg("请输入vin")
                return;
            }
            if($.trim(vin).length <3 || $.trim(vin).length>8){
                layer.msg("vin应在3到8位之间")
                return;
            }

            if($.trim(ordercount) ==""){
                layer.msg("请输入下单数量")
                return;
            }
            if($.trim(gocount) ==""){
                layer.msg("请输入线程数量")
                return;
            }

            $.post('/RpcTest/SaveOrder', jsData, function (out) {
                if (out.status == 0) {
                    layer.alert("提交成功")
                }else {
                    layer.msg("提交失败，"+out.message)
                }
            }, "json");

        });

    });

</script>