<div class="layui-layout layui-layout-admin" style="padding-left: 20px;">
    <div class="layui-btn-group demoTable" style="margin-top: 10px; ">
    </div>
<div>

    <div style="display: flex">

        <input type="text" style="width: 200px" name="bookName" id="bookName" lay-verify="required" autocomplete="off" placeholder="用户id" class="layui-input" value="">

        <input type="button" class="layui-btn" data-type="tabAdd" style="margin-left: 30px" value="查询">

    </div>



    <div style="font-size: 18px">

        <p style="margin-top: 10px">
            线上检测方案：
        <input type="radio" name="configID" value="2">鉴定估值-易鑫 &nbsp;&nbsp;
        <input type="radio" name="configID" value="5">鉴定估值-金融 &nbsp;&nbsp;
        </p>

        <p style="margin-top: 10px">
            订单订单类型：
        <input type="radio" name="tasktype" value="2">6张 &nbsp;&nbsp;
        <input type="radio" name="tasktype" value="5">9张 &nbsp;&nbsp;
        <input type="radio" name="tasktype"value="1" >18张 &nbsp;&nbsp;
        </p>

    </div>

</div>
</div>
