<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>重卡报告</title>
    <link rel="stylesheet" href="/static/h5/css/commcss.css" type="text/css">
    <link rel="stylesheet" href="/static/h5/css/header.css" type="text/css">
    <link rel="stylesheet" href="/static/h5/css/report.css" type="text/css">
    <script src="/static/h5/jquery/jquery-3.1.1.min.js"></script>
    <script src="/static/h5/js/report.js" type="text/javascript"></script>
</head>
<body>

<section class="report-cont">
    <!-- header部分 -->
    <section class="report-header">
        <div class="report-content">
            <label class="header-no">NO. JZG10342387338269307</label>
            <hr class="hr-line-4-px">
            <hr class="hr-line-2-px">
            <label class="header-title">精真估商用车鉴定书</label>
            <div class="header-price-cont">
                <label class="header-price">评估价格</label>
                <label class="header-price-mount">7.2万</label>
            </div>
            <div class="header-seal">
                <img src="/static/h5/image/seal.png" alt="">
            </div>
            <div class="header-info-bottom">

                <div class="header-info-item">
                    <label>评估师：</label>
                    <label>吴振兴</label>
                </div>
                <div class="header-info-item">
                    <label>复核评估师：</label>
                    <label>吴振兴</label>
                </div>
                <div class="header-info-item">
                    <label>鉴定日期：</label>
                    <label>2020-03-18</label>
                </div>
            </div>
        </div>

    </section>
    <!-- 品牌车型部分 -->
    <div class="report-title-part margin-top-25">牵引车</div>
    <section class="report-content brand-height">
        <div class="report-item-content">
            <div class="left-item-cont">
                <div class="left-item-content">
                    <label>品牌车型</label>
                </div>
            </div>
            <div class="right-item-cont">
                <label>中华V3 2016款 1.5L 手动 智能型</label>
            </div>
        </div>
        <div class="report-item-content">
            <div class="left-item-cont">
                <div class="left-item-content">
                    <label>VIN码</label>
                </div>
            </div>
            <div class="right-item-cont">
                <label>LSYYDACB5GC089342</label>
            </div>
        </div>
        <div class="report-item-content">
            <div class="left-item-cont">
                <div class="left-item-content">
                    <label>服务方案</label>
                </div>
            </div>
            <div class="right-item-cont">
                <label>线上鉴定估值</label>
            </div>
        </div>
        <div class="report-item-content">
            <div class="left-item-cont">
                <div class="left-item-content">
                    <label>鉴定结果</label>
                </div>
            </div>
            <div class="right-item-cont">
               <div class="right-item-contain">
                   <div class="right-item-content">
                        <label>驾驶室外观：</label>
                        <label class="right-item-description">少量明显损伤</label>
                   </div>
                   <div class="right-item-content">
                        <label>车身：</label>
                        <label class="right-item-description">部分喷漆修复痕迹</label>
                   </div>
                   <div class="right-item-content">
                        <label>内饰：</label>
                        <label class="right-item-description">少量脏污、磨损，少量破损</label>
                   </div>
                   <div class="right-item-content">
                        <label>车架：</label>
                        <label class="right-item-description">无拆卸、更换修复痕迹</label>
                   </div>
                   <div class="right-item-content">
                        <label>火烧检查：</label>
                        <label class="right-item-description">未见火烧迹象</label>
                   </div>
                   <div class="right-item-content">
                        <label>泡水检查：</label>
                        <label class="right-item-description">未见泡水迹象</label>
                   </div>
                   <div class="right-item-content">
                        <label>外部照明系统：</label>
                        <label class="right-item-description">破损</label>
                   </div>
                   <div class="right-item-content">
                        <label>仪表盘：</label>
                        <label class="right-item-description">正常</label>
                   </div>
                   <div class="right-item-content">
                        <label>其他说明：</label>
                        <label class="right-item-description"> 市场保有量一般，市场认可度一般，市场保值率一般</label>
                   </div>
               </div>
            </div>
        </div>
    </section>
    <!-- 详情 -->
    <section class="report-content detail-height">
        <div class="right-item-description">
            <label>品牌型号：</label>
            <label class="right-item-description">中华牌SY7152B2SBAG</label>
        </div>
        <div class="right-item-description">
            <label>品牌车型：</label>
            <label class="right-item-description">无</label>
        </div>
        <div class="right-item-description">
            <label>发动机号：</label>
            <label class="right-item-description">无</label>
        </div>
        <div class="right-item-description">
            <label>燃料：</label>
            <label class="right-item-description">无</label>
        </div>
        <div class="right-item-description">
            <label>车辆类型：</label>
            <label class="right-item-description">无</label>
        </div>
        <div class="right-item-description">
            <label>变速箱：</label>
            <label class="right-item-description">无</label>
        </div>
        <div class="right-item-description">
            <label>额定载客：</label>
            <label class="right-item-description">8人</label>
        </div>
        <div class="right-item-description">
            <label>使用性质：</label>
            <label class="right-item-description">无</label>
        </div>
        <div class="right-item-description">
            <label>车身颜色：</label>
            <label class="right-item-description">无</label>
        </div>
        <div class="right-item-description">
            <label>过户次数：</label>
            <label class="right-item-description">无</label>
        </div>
        <div class="right-item-description">
            <label>准牵引总质量：</label>
            <label class="right-item-description">无</label>
        </div>
        <div class="right-item-description">
            <label>驱动形式：</label>
            <label class="right-item-description">无</label>
        </div>
        <div class="right-item-description">
            <label>车牌号：</label>
            <label class="right-item-description">无</label>
        </div>
        <div class="right-item-description">
            <label>注册地：</label>
            <label class="right-item-description">无</label>
        </div>
        <div class="right-item-description">
            <label>厂商指导价：</label>
            <label class="right-item-description">无</label>
        </div>
        <div class="right-item-description">
            <label>排量：</label>
            <label class="right-item-description">无</label>
        </div>
        <div class="right-item-description">
            <label>表显里程：</label>
            <label class="right-item-description">无</label>
        </div>
        <div class="right-item-description">
            <label>出厂日期：</label>
            <label class="right-item-description">2016年05月05日</label>
        </div>
        <div class="right-item-description">
            <label>登记日期：</label>
            <label class="right-item-description">2016年05月05日</label>
        </div>
        <div class="right-item-description">
            <label>轴数：</label>
            <label class="right-item-description">无</label>
        </div>
    </section>

        <!--挂车-->
        <div class="report-cont-gua-che" id="report-cont-gua-che">
            <div class="report-title-part margin-top-30">挂车</div>
            <section class="report-content brand-height">
                <div class="report-item-content">
                    <div class="left-item-cont">
                        <div class="left-item-content">
                            <label>品牌车型</label>
                        </div>
                    </div>
                    <div class="right-item-cont">
                        <label>中华V3 2016款 1.5L 手动 智能型</label>
                    </div>
                </div>
                <div class="report-item-content">
                    <div class="left-item-cont">
                        <div class="left-item-content">
                            <label>VIN码</label>
                        </div>
                    </div>
                    <div class="right-item-cont">
                        <label>LSYYDACB5GC089342</label>
                    </div>
                </div>
                <div class="report-item-content">
                    <div class="left-item-cont">
                        <div class="left-item-content">
                            <label>服务方案</label>
                        </div>
                    </div>
                    <div class="right-item-cont">
                        <label>线上鉴定估值</label>
                    </div>
                </div>
                <div class="report-item-content">
                    <div class="left-item-cont">
                        <div class="left-item-content">
                            <label>鉴定结果</label>
                        </div>
                    </div>
                    <div class="right-item-cont">
                        <div class="right-item-contain">
                            <div class="right-item-content">
                                <label>外观：</label>
                                <label class="right-item-description">少量明显损伤</label>
                            </div>
                            <div class="right-item-content">
                                <label>轮胎使用程度：</label>
                                <label class="right-item-description">轮胎轻度磨损</label>
                            </div>
                            <div class="right-item-content">
                                <label>其他说明：</label>
                                <label class="right-item-description"> 市场保有量一般，市场认可度一般，市场保值率一般</label>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- 详情 -->
            <section class="report-content detail-height">
            <div class="right-item-description">
                <label>品牌型号：</label>
                <label class="right-item-description">中华牌SY7152B2SBAG</label>
            </div>
            <div class="right-item-description">
                <label>品牌车型：</label>
                <label class="right-item-description">无</label>
            </div>
            <div class="right-item-description">
                <label>发动机号：</label>
                <label class="right-item-description">无</label>
            </div>
            <div class="right-item-description">
                <label>燃料：</label>
                <label class="right-item-description">无</label>
            </div>
            <div class="right-item-description">
                <label>车辆类型：</label>
                <label class="right-item-description">无</label>
            </div>
            <div class="right-item-description">
                <label>变速箱：</label>
                <label class="right-item-description">无</label>
            </div>
            <div class="right-item-description">
                <label>额定载客：</label>
                <label class="right-item-description">8人</label>
            </div>
            <div class="right-item-description">
                <label>使用性质：</label>
                <label class="right-item-description">无</label>
            </div>
            <div class="right-item-description">
                <label>车身颜色：</label>
                <label class="right-item-description">无</label>
            </div>
            <div class="right-item-description">
                <label>过户次数：</label>
                <label class="right-item-description">无</label>
            </div>
            <div class="right-item-description">
                <label>准牵引总质量：</label>
                <label class="right-item-description">无</label>
            </div>
            <div class="right-item-description">
                <label>驱动形式：</label>
                <label class="right-item-description">无</label>
            </div>
            <div class="right-item-description">
                <label>车牌号：</label>
                <label class="right-item-description">无</label>
            </div>
            <div class="right-item-description">
                <label>注册地：</label>
                <label class="right-item-description">无</label>
            </div>
            <div class="right-item-description">
                <label>厂商指导价：</label>
                <label class="right-item-description">无</label>
            </div>
            <div class="right-item-description">
                <label>排量：</label>
                <label class="right-item-description">无</label>
            </div>
            <div class="right-item-description">
                <label>表显里程：</label>
                <label class="right-item-description">无</label>
            </div>
            <div class="right-item-description">
                <label>出厂日期：</label>
                <label class="right-item-description">2016年05月05日</label>
            </div>
            <div class="right-item-description">
                <label>登记日期：</label>
                <label class="right-item-description">2016年05月05日</label>
            </div>
            <div class="right-item-description">
                <label>轴数：</label>
                <label class="right-item-description">无</label>
            </div>
        </section>
    </div>

    <label class="report-plugin-des">附加说明</label>
    <section class="report-cont plugin-height">

            <ol class="report-grid">
                <li>
                    <div class="report-grid-item">
                        <img class="report-grid-img" src="/static/h5/image/car.png">
                        <label class="report-item-des">登记证1-2</label>
                    </div>
                </li><li>
                    <div class="report-grid-item">
                        <img class="report-grid-img" src="/static/h5/image/car.png">
                        <label class="report-item-des">登记证1-2</label>
                    </div>
                </li><li>
                    <div class="report-grid-item">
                        <img class="report-grid-img" src="/static/h5/image/car.png">
                        <label class="report-item-des">登记证1-2</label>
                    </div>
                </li><li>
                    <div class="report-grid-item">
                        <img class="report-grid-img" src="/static/h5/image/car.png">
                        <label class="report-item-des">登记证1-2</label>
                    </div>
                </li><li>
                    <div class="report-grid-item">
                        <img class="report-grid-img" src="/static/h5/image/car.png">
                        <label class="report-item-des">登记证1-2</label>
                    </div>
                </li><li>
                    <div class="report-grid-item">
                        <img class="report-grid-img" src="/static/h5/image/car.png">
                        <label class="report-item-des">登记证1-2</label>
                    </div>
                </li><li>
                    <div class="report-grid-item">
                        <img class="report-grid-img" src="/static/h5/image/car.png">
                        <label class="report-item-des">登记证1-2</label>
                    </div>
                </li><li>
                    <div class="report-grid-item">
                        <img class="report-grid-img" src="/static/h5/image/car.png">
                        <label class="report-item-des">登记证1-2</label>
                    </div>
                </li><li>
                    <div class="report-grid-item">
                        <img class="report-grid-img" src="/static/h5/image/car.png">
                        <label class="report-item-des">登记证1-2</label>
                    </div>
                </li><li>
                    <div class="report-grid-item">
                        <img class="report-grid-img" src="/static/h5/image/car.png">
                        <label class="report-item-des">登记证1-2</label>
                    </div>
                </li>

            </ol>


    </section>

</section>


</body>
</html>








































