<div class="layui-layout layui-layout-admin" style="padding-left: 20px;">
    <div class="layui-btn-group demoTable" style="margin-top: 10px; ">
    </div>
    <div>


        <div style="font-size: 18px">


            <p style="margin-top: 10px;">
                Taskid：
                <input type="text" id="Taskid" style=" width: 100px" value="">
            </p>
            <p style="margin-top: 10px;">
                Userid：
                <input type="text" id="Userid" style=" width: 100px"  value="" >
            </p>

            <p style="margin-top: 30px;">
                <input type="button" id="submit" value="提交"  >
            </p>
        </div>


    </div>


</div>
<script>
    var $;
    layui.config({
        base : "js/"
    }).use(['table','element','layer','jquery'], function(){
        $ = layui.jquery

        $("#submit").click(function () {

            var Taskid=$("#Taskid").val()
            var Userid=$("#Userid").val();


            var jsData = {'Taskid':Taskid,"Userid":Userid}


            if($.trim(Taskid) ==""){
                layer.msg("请输入Taskid")
                return;
            }

            if($.trim(Userid) ==""){
                layer.msg("请输入Userid")
                return;
            }


            $.post('/Ystest/Plays', jsData, function (out) {
                if (out.status == 0) {
                    layer.alert("提交成功")
                }else {
                    layer.msg("提交失败，"+out.message)
                }
            }, "json");

        });

    });

</script>