<div class="layui-layout layui-layout-admin" style="padding-left: 40px;margin-top: 20px;">

    <form class="layui-form" action="" method="post" >


        <div class="layui-form-item">
            预审员：
            <span class="fas1">
                  <input type="checkbox" name="Userids"  title="ysy001" value="2082">
            </span>
            <span class="fas2">
                  <input type="checkbox" name="Userids"  title="ysy002"value="2083">
            </span>
            <span class="fas3">
                  <input type="checkbox" name="Userids"  title="ysy003"value="2084"> &nbsp;
            </span>
            <span class="fas4">
                  <input type="checkbox" name="Userids"  title="ysy004"value="2085">
            </span>
            <span class="fas4">
                  <input type="checkbox" name="Userids"  title="ysy005"value="2086">
            </span>
            <span class="fas4">
                  <input type="checkbox" name="Userids"  title="ysy006"value="2087">
            </span>
            <span class="fas4">
                  <input type="checkbox" name="Userids"  title="ysy007"value="2088">
            </span>
            <span class="fas4">
                  <input type="checkbox" name="Userids"  title="ysy008"value="2089">
            </span>
            <span class="fas4">
                  <input type="checkbox" name="Userids"  title="ysy009"value="2090">
            </span>
            <span class="fas4">
                  <input type="checkbox" name="Userids"  title="ysy0010"value="2091">
            </span>
            <span class="fas4">
                  <input type="checkbox" name="Userids"  title="QAysy3001"value="2076">
            </span>
        </div>
        <div class="layui-form-item">
            沙盒预审员：
            <span class="fas4">
                  <input type="checkbox" name="Userids"  title="ysy001"value="15538">
            </span>
            <span class="fas4">
                  <input type="checkbox" name="Userids"  title="ysy002"value="15539">
            </span>
            <span class="fas4">
                  <input type="checkbox" name="Userids"  title="ysy003"value="15540">
            </span>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">平均数量</label>
            <div class="layui-input-inline">
                <input type="text" name="Usercount" id="Usercount"  lay-verify="required" autocomplete="off" placeholder="平均数量" class="layui-input" value="">
            </div>
            <div class="layui-form-mid layui-word-aux">N+1个订单</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">停止时间</label>
            <div class="layui-input-inline">
                <input type="text" name="timelen" id="timelen"  lay-verify="required" autocomplete="off" placeholder="N分钟之后停止" class="layui-input" value="">
            </div>
            <div class="layui-form-mid layui-word-aux">分钟</div>
        </div>
        <div class="layui-form-item">
            预审提交类型：
            <span class="fas1">
                  <input type="radio" name="Ranges" checked="checked" title="预审通过" value="1">
            </span>
            <span class="fas2">
                  <input type="radio" name="Ranges"  title="退回修改"value="2">
            </span>
            <span class="fas3">
                  <input type="radio" name="Ranges"  title="关闭订单"value="3"> &nbsp;
            </span>
            <span class="fas4">
                  <input type="radio" name="Ranges"  title="机构审批"value="4">
            </span>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="sub">立即提交</button>
            </div>
        </div>
    </form>


</div>
<script>
    var $;
    layui.config({
        base : "js/"
    }).use(['form','element','layer','jquery'],function(){
        var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
        var $ = layui.jquery;

        form.on('submit(sub)', function(data){
           // var form_data = $("form").serialize();
            var Useridlist="";
            $('input[name="Userids"]:checked').each(function(){
                Useridlist+=$(this).val()+",";
            });
            var Ranges=$("input[name='Ranges']:checked").val();
            var Usercount=$("#Usercount").val();
            var timelen=$("#timelen").val();

            var jsData = {'Ranges':Ranges,"Useridlist":Useridlist,"Usercount":Usercount,"timelen":timelen}
            $.post('/Ystest/Plays', jsData, function (out) {
                if (out.status == 0) {
                    layer.msg("提交成功")
                }else {
                    layer.msg("提交失败，"+out.message)
                }
            }, "json");

        });

    });
</script>